x-back-env: &back-env
  environment:
  - APP_DEBUG=true
  - APP_URL=http://localhost:8000
  - FRONTEND_URL=http://localhost:8080
  - DB_CONNECTION="mongodb"
  - DB_HOST="mongodb"
  - DB_PORT=27017
  - DB_DATABASE="skylog"
  - DB_USERNAME="admin"
  - DB_PASSWORD="TuY8dgQP52p6nHEMSe4rhk"
  - REDIS_DB="0"
  - REDIS_HOST=redis
  - REDIS_PASSWORD=ASdfasdfa097sdfg
  - REDIS_PORT="6379"
  - REDIS_QUEUE_DB=1
  - REDIS_CACHE_DB=2
#  Change the secret
  - JWT_SECRET=mysecret
  - DEPLOY_TYPE=web

x-front-env: &front-env
  environment:
#   Change the secret (at least 32 characters)
    - NEXTAUTH_SECRET=GK/IKHJ55WUBSIDAFLT3vcQmud1t5PIZHsclw40JtVs=
    - NEXTAUTH_URL=https://app2.skylogs.io
    - BASE_URL=http://nginx_back:80/api/v1/


services:
  skylogs-back:
    container_name: skylogs-back
    image: skylogs/skylogs:api-v0.15.0
    restart: unless-stopped
    ports:
     - 9001:9000
    volumes:
      - skylogs_back:/var/www/html:rw
    networks:
      - skylogs
    entrypoint: >
      sh -c "rm -rf  /var/www/html/* &&
            cp -rf /opt/skylogs-api/* /var/www/html &&
            cp -f /opt/skylogs-api/.env /var/www/html &&
            chmod -R 777 /var/www/html/storage &&
            chmod -R 777 /var/www/html/bootstrap &&
            php artisan migrate --force &&
            php artisan optimize:clear &&
            php artisan config:cache &&
            php artisan route:cache &&
            exec php-fpm"
    depends_on:
      - mongodb
      - redis
    <<: *back-env
  skylogs-front:
    container_name: skylogs-front
    image: skylogs/skylogs:front-v0.15.0
    restart: unless-stopped
    ports:
     - 8080:3000
    networks:
      - skylogs
    depends_on:
      - nginx_back
    <<: *front-env

  horizon:
    container_name: skylogs_horizon
    image: skylogs/skylogs:api-v0.15.0
    restart: unless-stopped
    entrypoint: >
      sh -c "php artisan horizon"
    depends_on:
      - mongodb
      - redis
    networks:
      - skylogs
    <<: *back-env

  crontab:
    container_name: skylogs_crontab
    image: skylogs/skylogs:api-v0.15.0
    entrypoint: >
      sh -c "crond -f -l 8 &&
            tail -f /var/log/cron.log"
    restart: unless-stopped
    depends_on:
      - mongodb
      - redis
    networks:
      - skylogs
    <<: *back-env


########### MONGODB ############
  mongodb:
    image: mongo:4.4 
    ports:
     - 27017:27017
    environment:
     - MONGO_INITDB_ROOT_USERNAME=admin
     - MONGO_INITDB_ROOT_PASSWORD=TuY8dgQP52p6nHEMSe4rhk
    volumes:
      - mongo_data:/data/db
    networks:
      - skylogs

########### REDIS ############
  redis:
    image: redis:6.2-alpine
    restart: always
    ports:
      - '6379:6379'
    command: redis-server --save 60 1 --loglevel warning --requirepass ASdfasdfa097sdfg
    networks:
      - skylogs

########## NGINX ############
  nginx_back:
    image: skylogs/skylogs:nginx
    container_name: nginx_back
    restart: unless-stopped
    ports:
      - "8083:80"
    volumes:
      - skylogs_back:/var/www/html:ro
    networks:
      - skylogs
    depends_on:
      - skylogs-back
networks:
  skylogs:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: "192.168.17.0/24"  # Define the subnet range
          gateway: "192.168.17.1"     # Define the gateway

volumes:
  skylogs_back:
    driver: local
  mongo_data:
    driver: local
