x-dev-env: &dev-env
  environment:
  - APP_ENV=local
  - APP_DEBUG=true
  - APP_URL=http://localhost:8000
  - FRONTEND_URL=http://localhost:8080
  - KAVENEGAR_TOKEN=
  - KAVENEGAR_SENDER_NUMBER=
  - TELEGRAM_BOT_TOKEN=
  - JWT_SECRET=mysecret


x-prod-env: &prod-env
  environment:
  - APP_ENV=production
  - APP_DEBUG=false
  - APP_URL=http://my-app:8000
  - FRONTEND_URL=http://localhost:8080
  - KAVENEGAR_TOKEN=
  - KAVENEGAR_SENDER_NUMBER=
  - TELEGRAM_BOT_TOKEN=
  - JWT_SECRET=mysecret

services:
    skylogs-back:
        build: apps/backend
        container_name: skylogs_app
        restart: unless-stopped
        working_dir: /var/www/html
        volumes:
            - app_data:/var/www/html
        networks:
            - skylogs_net
        depends_on:
            - mongo
            - redis
        <<: *dev-env

    nginx:
        image: nginx:latest
        container_name: skylogs_nginx
        restart: unless-stopped
        ports:
            - "8000:80"
        volumes:
            - app_data:/var/www/html
            - ./apps/backend/nginx.conf:/etc/nginx/conf.d/default.conf
        networks:
            - skylogs_net
        depends_on:
            - skylogs-back

    mongo:
        image: mongo:latest
        container_name: skylogs_mongo
        restart: unless-stopped
        ports:
            - "27018:27017"
        networks:
            - skylogs_net
        volumes:
            - mongo_data:/data/db

    redis:
        image: redis:latest
        container_name: skylogs_redis
        restart: unless-stopped
        ports:
            - "6380:6379"
        networks:
            - skylogs_net

    horizon:
        build:
            context: apps/backend
            dockerfile: HorizonDockerfile
        container_name: skylogs_horizon
        restart: unless-stopped
        working_dir: /var/www/html
        volumes:
            - app_data:/var/www/html
        depends_on:
            - skylogs-back
            - mongo
            - redis
        networks:
            - skylogs_net
        <<: *dev-env


    front:
        build: apps/frontend
        restart: unless-stopped
        ports:
            - 8080:3000
        environment:
            - NEXTAUTH_SECRET=GK/IKHJ55WUBSIDAFLT3vcQmud1t5PIZHsclw40JtVs=
            - NEXTAUTH_URL=http://localhost:8000
            - BASE_URL=http://nginx:80/api/v1/
        networks:
            - skylogs_net
        depends_on:
            - nginx

networks:
    skylogs_net:
        driver: bridge

volumes:
    app_data:
    mongo_data:
        driver: local
