services:
  skylogs-back:
    container_name: skylogs-back
    image: skylogs/skylogs:api-v0.15.0
    restart: unless-stopped
    environment:
     - DEPLOY_TYPE=web
    ports:
     - 9001:9000
    volumes:
      - skylogs_back:/var/www/html:rw
      - ./apps/backend/.env:/opt/skylogs-api/.env
    networks:
      - skylogs
    depends_on:
      - mongodb
      - redis

  skylogs-front:
    container_name: skylogs-front
    image: skylogs/skylogs:front-v0.15.0
    restart: unless-stopped
    ports:
     - 8080:3000
    networks:
      - skylogs
    environment:
      - NEXTAUTH_SECRET=VZsY4Uq5kHyk5U5hm8IgGVD9PG9KaxujU85qk8UjTg8=
      - BASE_URL=http://nginx_back:80/api/v1/
      - NEXTAUTH_URL=https://app2.skylogs.io

    depends_on:
      - nginx_back
      
  horizon:
    container_name: skylogs_horizon
    image: skylogs/skylogs:api-v0.15.0
    environment:
     - DEPLOY_TYPE=horizon
    restart: unless-stopped
    depends_on:
      - mongodb
      - redis
    volumes:
      - ./apps/backend/.env:/opt/skylogs-api/.env
    networks:
      - skylogs

  crontab:
    container_name: skylogs_crontab
    image: skylogs/skylogs:api-v0.15.0
    environment:
     - DEPLOY_TYPE=crontab
    restart: unless-stopped
    depends_on:
      - mongodb
      - redis
    volumes:
      - ./apps/backend/.env:/opt/skylogs-api/.env
    networks:
      - skylogs



########### MONGODB ############
  mongodb:
    image: mongo:4.4 
    ports:
     - 27017:27017
    environment:
     - MONGO_INITDB_ROOT_USERNAME=admin
     - MONGO_INITDB_ROOT_PASSWORD=TuY8dgQP52p6nHEMSe4rhk
    volumes:
      - mongo_data:/data/db
    networks:
      - skylogs

########### REDIS ############
  redis:
    image: redis:6.2-alpine
    restart: always
    ports:
      - '6379:6379'
    command: redis-server --save 60 1 --loglevel warning --requirepass ASdfasdfa097sdfg
    networks:
      - skylogs

########## NGINX ############
  nginx_back:
    image: nginx:alpine
    container_name: nginx_back
    restart: unless-stopped
    ports:
      - "8083:80"
    volumes:
      - skylogs_back:/var/www/html:ro
      - ./apps/backend/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - skylogs
    depends_on:
      - skylogs-back
networks:
  skylogs:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: "192.168.17.0/24"  # Define the subnet range
          gateway: "192.168.17.1"     # Define the gateway

volumes:
  skylogs_back:
    driver: local
  mongo_data:
    driver: local
