app_name: "skylogs"

auth:
  secret: "ASecret"

mongo:
  host: "127.0.0.1"
  port: 27017
  username: ""
  password: ""
  db_name: "skylogs_go"
  auth_source: "admin"


http:
  host: "0.0.0.0"
  port: 8080
  cors:
    allow_origins: "*"

redis:
  host: "redis"
  username: "redis"
  password:
  port: 6379
  db: 0

logger:
  file_name: skylogs.logs
  level: debug
  targets: [console, file]
  max_size: 10
  max_backups: 1
  compress: false

nats:
  url: 127.0.0.1:4222
